# Ignore local settings
/.vscode
.DS_Store
.mypy_cache

# Ignore locally-generated dictionary files
*/beta/mabiao
!*/beta/mabiao/baidu/fcitx*
!*/beta/mabiao/baidu/小小*
!*/beta/mabiao/baidu/*.conf

*/beta/schema/yuhao
!*/beta/schema/yuhao/yuhao.extended.dict.yaml
!*/beta/schema/yuhao/yuhao.priviate.dict.yaml
*/beta/schema/*.dict.yaml
!yujoy/beta/schema/yujoy_full.dict.yaml
!yujoy/beta/schema/yujoy_fluency.dict.yaml
*/beta/schema/yuhao.essay.txt

*/beta/archived/*.dict.yaml

# Ignore specific types of files
*.zip
*.pdf
*.png

# Ignore distributions
/dist
yulight/dist/yulight
yujoy/dist/yujoy
yustar/dist/yustar
