# Ignore local settings
/.vscode
.DS_Store
.mypy_cache

# Ignore locally-generated dictionary files
*/beta/mabiao
*/beta/schema/yuhao

# Ignore zip files
*.zip

# Ignore distributions
/dist
yulight/dist/yulight
yujoy/dist/yujoy
yustar/dist/yustar
